<div ng-controller="BuzzerController">
    <div ng-show="context.isGameAssigned">

        <div class="row inputContainer" ng-hide="context.isBuzzerReady || !context.isUserAssigned">
            <div class="col-xs-12">Winner: {{winner}}</div>
        </div>

        <div ng-show="context.isUserAssigned">

            <div class="row inputContainer" ng-show="context.isBuzzerReady">
                <input class="form-control btn btn-danger col-xs-12 buzzerButton" ng-click="buzzer()" type="submit" value="BUZZER" />
            </div>

            <div class="row inputContainer" ng-show="(context.isGameOwner || context.isWinner) &amp;&amp; !context.isBuzzerReady">
                <input class="form-control btn btn-default col-xs-12" ng-click="reset()" type="submit" value="Reset" />
            </div>

        </div>
    </div>
</div>
