<div ng-controller="BuzzerController">
    <div ng-show="context.isGameAssigned">
        <div ng-show="context.isUserAssigned">

            <div ng-show="context.isBuzzerReady">
                <input ng-click="buzzer()" type="submit" value="BUZZER" />
            </div>

            <div ng-hide="context.isBuzzerReady">
                <div>Winner: {{winner}}</div>
            </div>

            <div ng-show="context.isGameOwner &amp;&amp; !context.isBuzzerReady">
                <input ng-click="reset()" type="submit" value="Reset" />
            </div>

        </div>
    </div>
</div>