<div ng-controller="GameController">

    <div ng-hide="context.isGameAssigned">
        <input class="textInput" type="text" ng-model="context.gameName" placeholder="Game-Name" />
        <div>
            <input class="halfButton" ng-click="create()" type="submit" value="Create" />
            <input class="halfButton" ng-click="join()" type="submit" value="Join" />
        </div>
    </div>

    <div ng-show="context.isGameAssigned">
        <div>Game: {{context.gameName}}</div>
    </div>

</div>