<div ng-controller="UserController">
    <div ng-show="context.isGameAssigned">

        <div class="" ng-hide="context.isUserAssigned">
            <div class="inputContainer">
                <input class="form-control" type="text" ng-model="context.userName" placeholder="Name" />
            </div>
            <div class="inputContainer">
                <input class="form-control btn btn-default" ng-click="join()" type="submit" value="Join" />
            </div>
        </div>

        <div class="inputContainer" ng-show="context.isUserAssigned">
            <div>User: {{context.userName}}</div>
        </div>

    </div>
</div>