<div ng-controller="UserController">
    <div ng-show="context.isGameAssigned">

        <div ng-hide="context.isUserAssigned">
            <div class="row inputContainer">
                <input class="form-control col-xs-12" type="text" ng-model="context.userName" placeholder="Name" />
            </div>
            <div class="row inputContainer">
                <input class="form-control btn btn-default col-xs-12" ng-click="join()" type="submit" value="Join" />
            </div>
        </div>

        <div class="row inputContainer" ng-show="context.isUserAssigned">
            <div class="col-xs-12">User: {{context.userName}}</div>
        </div>

    </div>
</div>