h1 {
    margin: 8px;
    text-align: center;
}

.inputContainer {
    padding: 8px;
}

.halfButton {
    margin: 8px;
    width: auto;
}

.buzzerButton {
    background-color: red;
    width: 200px;
    height: 200px;
    margin-top: 8px;
    margin-bottom: 8px;
}
