<html ng-app="buzzer">
<head>
    <title>Alsolos Buzzer</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js'></script>
    <script src='https://cdn.firebase.com/v0/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
    <script src="js/ApplicationController.js"></script>
</head>
<body ng-controller="ApplicationController">
    <h1>Alsolos Buzzer</h1>

    <form ng-submit="addUser()">
        <input type="text" ng-model="userName" placeholder="Name" ng-disabled="isLoggedIn">
        <input type="submit" value="Join" ng-disabled="isJoinDisabled">
    </form>

    <div>
        <button ng-click="buzzer()" ng-disabled="isBuzzerDisabled">BUZZER</button>
    </div>

    <div>
        <div>{{winner}}</div>
        <button ng-click="reset()" ng-disabled="isResetDisabled">Reset</button>
    </div>
</body>
</html>
